@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Estilo global para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header, .jumbotron{
    background-color: #000 !important;
    color: #fff;
    text-align: center;
}
body{
    background-color: gray !important;
}
.jumbotron{
    margin-bottom: 18px !important;
}
.containerr{
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap; /* Para permitir quebra de linha no mobile */
    align-items: center;
    margin-top: 0px;
}
a{
    color: #fff !important;
}
.input-grup {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px 16px 8px 8px;
    width: 300px;
    max-height: 60vh;
    border-radius: 25px;
    gap: 8px;
}
#search-icon{
    display: none;
}
.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 32px;
    max-height: 32px;
    color: #000;
    border-radius: 100%;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
}
.input-field:focus{
    outline:none;
}

@media (max-width: 800px){
    .input-grup{
        display: none;
        width: 600px;
        justify-content: center;
        margin: 8px auto 0 auto; 
        order: 2;
    }
    #search-icon{
        display: block;
    }
}
@media (min-width: 800px){
    .input-grup{
        display: flex !important;
    }
}

main {
    display: flex !important; 
    justify-content: center;
    width: 100%;
}
.items{
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    border-radius: 24px;
    width: 800px;
    padding: 14px;
    gap: 15px;
}
.item{
    background-color: #5f5f5f;
    color: #c5c3c3;
    width: 100%;
    border: 2px solid black;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
    text-align: justify;
}

#no_results {
    display: none;
    text-align: center;
}

.footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

